
    <h1>University Registration</h1>

    #if($departments.size() > 0)
    <h3><a href="/students">Add/View Students</a></h3>
    <h3><a href="/courses">Add/View Courses </a></h3>
    #end
    <h3><a href="/departments">Add/View Departments</a></h3>
